<html lang="hr">
	<head>
		<meta charset="utf-8"/>
		<title>Slastičarnice grada Zagreba</title>
	</head>
	<body>
		<h1 align="center">Slastičarne</h1>
			<table align="center">
			<tr>
				<th>Metoda</th>
				<th>URI</th>
				<th>Opis metode</th>
			</tr>
				<tr>
				<td>GET:</td>
				<td>/rznu/slasticarne</td>
				<td>Dohvaćanje svih slastičarni</td>
			</tr>
			<tr>
				<td>GET:</td>
				<td>/rznu/vlasnici</td>
				<td>Dohvaćanje svih vlasnika slastičarni</td>
			</tr>
			<tr>
				<td>GET:</td>
				<td>/rznu/vlasnici/vlasnik_id/slasticarne</td>
				<td>Dohvaćanje svih slastičarni koje posjeduje određeni vlasnik</td>
			</tr>
			<tr>
				<td>GET:</td>
				<td>/rznu/slasticarne/slasticarna_id</td>
				<td>Dohvaćanje određene slastičarne po njezinom id-u</td>
			</tr>
			<tr>
				<td>GET:</td>
				<td>/rznu/vlasnici/vlasnik_id</td>
				<td>Dohvaćanje određenog vlasnika po njegovom id-u</td>
			</tr>
			<tr>
				<td>DELETE:</td>
				<td>/rznu/slasticarne/slasticarna_id</td>
				<td>Brisanje slastičarne</td>
			</tr>
			<tr>
				<td>DELETE:</td>
				<td>/rznu/vlasnici/vlasnik_id</td>
				<td>Brisanje vlasnika</td>
			</tr>
			<tr>
				<td>POST:</td>
				<td>/rznu/slasticarne</td>
				<td>Dodavanje nove slastičarne</td>
			</tr>
			<tr>
				<td>POST:</td>
				<td>/rznu/vlasnici</td>
				<td>Dodavanje novog vlasnika</td>
			</tr>
			<tr>
				<td>PUT:</td>
				<td>/rznu/slasticarne/slasticarna_id</td>
				<td>Ažuriranje slastičarne</td>
			</tr>
			<tr>
				<td>PUT:</td>
				<td>/rznu/vlasnici/vlasnik_id</td>
				<td>Ažuriranje vlasnika</td>
			</tr>
	</body>
</html>
